.header {
  position: fixed;
  width: 100%;
  height: 110px;
  z-index: 1000
}

.noscroll {
  height: 100vh;
 overflow: hidden !important;
}

.visible {
  top: 0; 
}

.hidden {
  top: -200px; 
}

.hamburger_container {
  position: relative;
  display: flex;
}

.logo {
  z-index: 2;
  margin: 4px 20px 0 10px;
}

.searchContainer {
  padding-top: 8px;
  height: 65px;
  background-color: white;
}

.inputContainer {
  height: 48px;
  width: 95%;
  margin: 0 auto;
  border-radius: 24px;
  border: none;
  background-color: #f3f3f3;
  padding-left: 30px;
  position: relative;
  display: flex;
}

.input {
  position: relative;
  height: 47px;
  width: 95%;
  font-family: Roboto, Helvetica,Arial,sans-serif;
  margin: 0 auto;
  border-radius: 24px;
  border: none;
  background-color: #f3f3f3;
  padding-left: 0px;
  padding-right: 30px; 
  outline: none;
  letter-spacing: 1%;
  font-family: "Bebas Neue", sans-serif;
}

.input::placeholder {
  letter-spacing: 1%;
  font-family: "Bebas Neue", sans-serif;
}

.input:focus {
  border-color: none 
}

.input:focus + img {
  border-color: none; 
}

.title {
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: Roboto, Helvetica,Arial,sans-serif;
  font-size: var(--13px);
  letter-spacing: -.03em;
  font-weight: 700;
  line-height: var(--18px);
  background-color: #f3f3f3;
  width: 100%;
  height: 38px;
  text-align: center;
}

.deliveryContent {
  display: flex;
  justify-content: center;
}

.deliveryImg {
  margin-right: 10px;
}

.deliveryTxt {
  padding-top: 3px;
  font-size: 0.8em;
  font-weight: bold;
}
 
.imgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .4s ease-in-out;
  margin-right: 20px;
}

.imgBox:hover {
  cursor: pointer;
}
  
.imgIcon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none; 
}

.menuBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; 
  display: none; 
  width: 100%; 
  height: 100%;
}

.menuBoxOpen {
  display: block;
  overflow-y: auto;
}
    
.menu {  
  display: flex;
  position: absolute;
  flex-direction: column;
  list-style: none;
  top: 0px;
  padding-top: 160px;
  width: 100%;
  z-index: 20;
  transition: .4s ease-in-out;
  background-color: #f3f3f3; 
}

.menu_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  width: 95%;
  height: 75px;
  margin: 0 auto 5px auto;
  border-radius: 8px;
  transition: .4s ease-in-out;
  color: rgb(12, 12, 12); 
  background-color: #ffffff;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}
  
.menu_link:hover {
  color: orangered;
  cursor: pointer;
} 

.link {
  display: flex;
  justify-content: space-between;
}

.linkText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.linkImg1 {
  margin-right: 15px;
}

.linkImg2 {
  margin-right: 10px;
}

.linkImg2 {
  margin-right: 8px;
}

.alert {
  width: 100%;
  padding-top: 2px;
  text-align: center;
  color: rgb(204, 57, 3);
  font-family: "Bebas Neue", sans-serif;
}