.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 160px;
  background-color: rgb(53, 53, 53);
}

.shopTitle {
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 30px auto;
  padding: 16px 26px;
  border-radius: 8px;
  width: 98%;
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
}

.label {
  color: white;
  width: 100%;
  text-align: center;
}

.select, .select2 {
  margin: 0 auto;
  width: 220px;
  margin-bottom : 40px;
}

.select2 {
  margin-bottom : 0px;
}

.team {
  width: 100%;
  display: flex;
  justify-content: center;
}

.h2 {
  color: white;
  text-align: center;
  width: 100%;
  padding: 8px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.boxBtn {
  height: 80px;
  display: flex;
  justify-content: space-around;
}

.btnCategory {
  margin: 45px 0;
  height: 30px;
  width: 150px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
}

.h3 {
  width: 100%;
  color: black;
  background-color: white;
  text-align: center;
  margin: 30px 0;
  padding: 8px 0
}

.h4 {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  color: white;
  padding: 8px 0;
 background-color: black;
}

.container {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scrollButton {
  position: fixed;
  top: 50%;
  right: 2px;
  background-color: transparent;
  border: none;
  border: 1px solid rgb(0, 0, 0);
  padding: 4px;
  transition: .4s ease-in-out;
  transform: rotate(-90deg);
 
}

.scrollButton:hover {
 cursor: pointer;
 background-color: white;
}

.picture {
  color: white;  
}

.anchor {
  position: relative;
  bottom: 168px;
}


/* Mobile */
@media (max-width: 700px) {
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}