.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  min-height: 100vh;
  padding-top: 160px;
 
  background-color: rgb(77, 77, 77);
}

.banner {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
 width: 100%;
  overflow: hidden;
  background-color: black;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero {
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: white;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.container {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btnBannerBox {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20%;
  width: 100%;
}

.btnBannerBox2 {
  position: absolute;
  display: flex;
  justify-content: right;
  bottom: 20%;
  left: 10%;
}

.btnBanner {
  font-size: 1.2em;
  height: 30px;
  width: 120px;
  font-weight: bold;
  border-radius: 4px;
  transition: .4s;
  border: 2px solid black;
}

.btnBanner:hover, .btnBanner:hover {
  cursor: pointer;
  color: white;
  background: rgb(39, 39, 39);
}

/* Mobile */
@media (max-width: 700px) {
 
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
